body{
    background-color: #ade8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1{
    text-align: center;
    color: blue;
    font-family:cursive;
}


.container{
    width: 460px;
    display: flex;
    flex-wrap: wrap;

}

.box{
   width: 150px;
   height: 159px;
   background-color:teal;
   margin: 1px;
   border-radius: 10px;
    
}

.box:hover{
    background-color:#04b2b2 ;
}
